body{
  text-align: center;
  font-family: helvetica;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: White;
}
.top{
  background-image: url('/Projects/Broadway _Design/resources/pictures/the-flatiron-building.png');
  font-size: 18px;
  background-position: center;
}
a{
  color: white;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.heading2{
  color: red;
}
li{
  list-style-type: none;
  padding: 0;
  margin: 10px;
}
