body{
  text-align: center;
  font-family: helvetica;
}
h1{
  font-size: 70px;
  color: white;
}
.top{
  background-image: url('../resources/pictures/the-flatiron-building.png');
  background-position: center;
  font-weight: bold;
  color: white
}
a{
  color: white;
}
.mainmenu{
  font-size: 18px;
}

h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.heading2{
  background-image: url('../resources/pictures/the-flatiron-building.png');
  background-position: center;
  color: white;
}
.footer {
  text-align: left;
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
